.controls{
    margin: 5px;
}

button{
    width: 150px;
    background-color: #E9EEF7;

    border: none;
    border-radius: 50px;

    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 5px;

}

button:hover {
    background-color: rgb(50, 169, 54)
}

select{

    width: 150px;
    background-color: #E9EEF7;
    border: none;
    border-radius: 50px;

    padding-top: 3px;
    padding-bottom: 3px;
}